* {
    margin: auto;
    padding: auto;
}

/* Top Section */
.top {
    width: 100%;
    background-color: #2FA5EB;
}

.top div {
    width: 1200px;
    color: #fff;
    background-color: #2FA5EB;
    font-family: calibri;
    padding: 10px;
    text-align: right;
}

.logo {
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
}

.logo div {
    width: 1200px;
    font-family: calibri;
    padding: 10px;
    text-align: left;
}

.logo div h1 {
    margin: 0;
}

.bigger-text {
    font-size: 60px;
}

.blue-text {
    font-family:forte;
    color: #428bca;
}

.black-text {
    font-family:forte;
    color: #000;
}

.logo div .links {
    margin-top: 30px;
    text-align: center;
}

.logo div .links a {
    text-decoration: none;
    color: gray;
    margin-right: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}

.logo div .links a:hover {
    color: #428bca;
    border-bottom: 2px solid gray;
}

/* Middle Section */
.middle {
    width: 100%;
    border-bottom: 2px solid #f0f0f0;
}

.middle div {
    width: 1200px;
    height: 900px;
    font-family: calibri;
}

.middle div p {
    width: 1100px;
    font-weight: bold;
    height: 550px;
    color: #fff;
    opacity: 0.8;
    font-size: 50px;
}

/* Bottom Section */

.bottom {
    margin: 0 auto;
    padding: 50px;
    border-radius: 10%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.bottom h2 {
    font-size: 44.8px;
    color: #000000;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.bottom p {
    color: #000000;
    margin-bottom: 20px;
}

.bottom ul {
    text-align: left;
    margin-bottom: 30px;
}
.bottom ul li {
    list-style: none;
    margin-bottom: 12px;
    font-weight: bold;
    color: #000000;
    font-size: 19.2px;
}
.line {
    border-bottom: 1px solid #ccc;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
}

/* Form Styles */
h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 60%;
    margin:auto;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: centet;
}

.form {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #428bca;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #3071a9;
}

/* Navigation Down Section */
.nav_down {
    width: 100%;
    background-color: #333;
    border-bottom: 2px solid #f0f0f0;
}

.nav_down div {
    width: 1200px;
    color: #fff;
    background-color: #333;
    font-family: calibri;
    padding: 10px;
    text-align: left;
}

/* Doctor Section */
.doctor {   
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000000;
    background-color: #fff;
}

.doctor:hover {
    box-shadow: 0 8px 16px #000000;
}

.doctor img {
    width: 170px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.doctor h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.doctor p {
    font-size: 16px;
}

/* Services Section */
.services {
    background-color: #f5f5f5;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services p {
    font-size: 16px;
    color: #333;
}

.services h2 {
    font-size: 24px;
    font-weight: bold;
    color: #428bca;
    margin-bottom: 10px;
}

.services ul {
    margin-left: 20px;
}

.services li {
    font-size: 16px;
    color: #333;
}

/* About Section */
.about-section {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-bottom: 20px;
}

.about-section h2 {
    color: #333;
    font-size: 32px;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 17.6px;
}

/* Mission and Vision Section */
.mission-vision {
    padding: 20px;
    background-color: #e6f7ff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.mission-vision h2 {
    color: #007bff;
    font-size: 28.8px;
    margin-bottom: 15px;
}

.mission-vision strong {
    color: #0056b3;
}

/* Values Section */
.values {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.values h2 {
    color: #666;
    font-size: 28.8px;
    margin-bottom: 15px;
}

.values ul {
    list-style-type: none;
    padding: 0;
}

.values li {
    font-size: 17.6px;
    margin-bottom: 5px;
}

/* Custom Button */
.custom-button {
    padding: 22px;
    background-color: #4169e1;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    outline: none;
}

.custom-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #4169e1;
}

/* Address Section */
.address-section {
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.address-section p {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #333;
}

.address-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #428bca;
}

.contact-info {
    font-style: italic;
    color: #777;
}

/* Message icon Section */

.icon-image {
    position: fixed;
    bottom: 0;
    right: 0;
    align-items: right;    
    width: 80px;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 15px;
        
}
/* Notice section */
.notice {
    background-color: #fff;
    border: 4px solid #e53935;
    padding: 40px;          
    text-align: center;
    margin: 20px 0;
    align-items: center;        
    background-color: #f2f2f2;
}
.notice h1 {
    color: #e53935;
    font-size: 40px;
    margin-bottom: 20px;
}
.notice p {
    color: #333;
    font-size: 19.2px;       
    margin-bottom: 15px;
}        
